.SettingsPane{
    -fx-min-width: 500px;
    -fx-max-width: 500px;

    -fx-min-height: 550px;
    -fx-max-height: 550px;

    -fx-padding: 5;

    -fx-background-color: #f0eae4;
    -fx-background-radius: 25;

    -fx-border-color: #6b4f6a;
    -fx-border-width: 8px;
    -fx-border-radius: 20;
}

.settingsTopPane{
    -fx-min-width: 430px;
    -fx-max-width: 430px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}

    .SettingsTitle{
        -fx-font-family: "Gluten Bold";
        -fx-text-fill: #5F445E;
        -fx-font-size: 30px;
    }

    .SettingsArrow{
        -fx-text-fill: #5F445E;
        -fx-font-size: 30px;
    }

    .SettingsArrow:hover{
        -fx-text-fill: #da627d;
    }

.Instruction{
    -fx-min-width: 480px;
    -fx-max-width: 480px;

    -fx-min-height: 30px;
    -fx-max-height: 30px;

    -fx-font-family: "Gluten Bold";
    -fx-text-fill: #5F445E;
    -fx-font-size: 15px;

    -fx-alignment: center;
}

.Line{
    -fx-border-color: #6b4f6a;
    -fx-border-width: 2px;

    -fx-max-height: 0px;
}

.shortcutPanel{
    -fx-alignment: center;
    -fx-min-width: 235px;
    -fx-max-width: 235px;

    -fx-min-height: 420px;
    -fx-max-height: 420px;
}

    .ShortcutBox{
        -fx-alignment: center;

        -fx-min-width: 220px;
        -fx-max-width: 220px;

        -fx-min-height: 100px;
        -fx-max-height: 100px;

        -fx-spacing: 5;
    }

    .ShortcutLabel{
        -fx-font-family: "Gluten Bold";
        -fx-text-fill: #5F445E;
        -fx-font-size: 25px;
    }

    .ShortcutKey{
        -fx-font-family: "Gluten Bold";
        -fx-text-fill: #5F445E;
        -fx-font-size: 20px;

        -fx-min-width: 200px;
        -fx-max-width: 200px;

        -fx-min-height: 50px;
        -fx-max-height: 50px;

        -fx-alignment: center;

        -fx-background-color: #f0eae4;
        -fx-background-radius: 25;

        -fx-border-color: #6b4f6a;
        -fx-border-width: 4px;
        -fx-border-radius: 20;
    }

    .ShortcutKeySelect{
        -fx-text-fill: #da627d;
        -fx-border-color: #da627d;
    }

#OptionsSetting{
    -fx-spacing: 5px;
}

.MusicSlider .track{
    -fx-background-color: #b5c99a;
    -fx-background-radius: 5px;
    -fx-pref-height: 15px;
    -fx-border-color: #97a97c;
    -fx-border-width: 2px;
}

.MusicSlider .track .filled-track {
    -fx-background-color: #52b788;
    -fx-background-radius: 5px;
}

.MusicSlider .thumb {
    -fx-background-color: #469d89;
    -fx-background-radius: 0;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-border-color: #248277;
    -fx-border-width: 2px;
}

