.root {
    -fx-background-image: url("images/background.png");
}

.gameBoard {
    -fx-border-color: #5F445E;
    -fx-background-color: #02060F;
    -fx-border-width: 10px;
}

.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    /*-fx-font-family: "Helvetica";*/
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.Screen{
    -fx-max-width: 520px;
    -fx-min-width: 520px;
    -fx-min-height: 580px;
    -fx-max-height: 580px;

    -fx-alignment: top-right;
    -fx-spacing: 10

}

/* Playing Box */
#playing{
    -fx-max-width: 520px;
    -fx-min-width: 520px;

    -fx-min-height: 520px;
    -fx-max-height: 520px;

    -fx-spacing: 10px;
}

    /* Tetris Board*/

    #tetrisBoard{
        -fx-min-width: 230px;
        -fx-max-width: 230px;
        -fx-padding: 0 0 0 0;
    }

    .gameOverStyle {
        -fx-font-family: "Let's go Digital";
        -fx-font-size: 48;
        -fx-background-color: red;
    }

    /* Side Panel */

    .rightPanel{
        -fx-padding: 10 0 30 0;
    }

    .leftPanel{
        -fx-padding: 10 0 0 10;
        -fx-alignment: top-center;
    }
        /* Pause */
        .Pause {
            -fx-max-width: 15px;
            -fx-max-height: 15px;
        }

        .Pause:hover {
            -fx-graphic: url("buttons/Buttons-pause-pressed.png");
        }

    /* Labels*/
    .label{
        -fx-font-family: "Gluten Bold";
        -fx-font-size: 25;
        -fx-text-fill: #F3EFE8;
        -fx-padding: 10 0 0 0;
    }

    /* Display Bricks */
        .brickLabel{
            -fx-font-family: "Gluten Bold";
            -fx-font-size: 25;
            -fx-text-fill: #F3EFE8;
            -fx-padding: 10 0 0 0;
        }

        .brickPanel {
            -fx-border-color: #5F445E;
            -fx-border-width: 5;
            -fx-border-radius: 5;

            -fx-background-color: #02060F;
            -fx-background-radius: 10;

            -fx-alignment: center;
            -fx-min-width: 120px;
            -fx-max-width: 120px;
        }

        .brickDisplay{
            -fx-alignment: center;
            -fx-min-width: 100px;
            -fx-max-width: 100px;
        }