.root {
    -fx-background-image: url("background_image.png");
}

.gameBoard {
    -fx-border-color: #61a2b1;
    -fx-border-width: 10px;
}

.nextBrickLabel {
    -fx-font-family: "Let's go Digital";
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 16px;
    -fx-text-fill: yellow;
}

.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    /*-fx-font-family: "Helvetica";*/
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

/* Playing Box */
#playing{
    -fx-max-width: 420px;
    -fx-min-width: 420px;

    -fx-min-height: 520px;
    -fx-max-height: 520px;
}

    /* Tetris Board*/

    #tetrisBoard{
        -fx-min-width: 250px;
        -fx-max-width: 250px;
        -fx-padding: 20 0 0 20;
    }

    .gameOverStyle {
        -fx-font-family: "Let's go Digital";
        -fx-font-size: 48;
        -fx-background-color: red;
    }

/* Right Panel */

#rightPanel{
    -fx-padding: 10 0 30 0;
}

    /* Next Brick */
    .nextBrick {
        -fx-border-width: 2px;
        -fx-border-color: whitesmoke;
        -fx-alignment: center;
    }

    #nextBrickLabel{
        -fx-font-family: "Let's go Digital";
        -fx-font-size: 25;
        -fx-text-fill: #fff;
        -fx-padding: 10 0 0 0;
    }

    #nextBrickDisplay{
        -fx-alignment: center;
        -fx-min-width: 100px;
        -fx-max-width: 100px;
    }

    /* Score */
    #scoreLabel{
        -fx-font-family: "Let's go Digital";
        -fx-font-size: 25;
        -fx-text-fill: #fff;
        -fx-padding: 10 0 0 0;
    }

    /* Lines */
    #totalClearedLinesLabel{
        -fx-font-family: "Let's go Digital";
        -fx-font-size: 25;
        -fx-text-fill: #fff;
        -fx-padding: 10 0 0 0;
    }

    /* Level */
    #levelLabel{
        -fx-font-family: "Let's go Digital";
        -fx-font-size: 25;
        -fx-text-fill: #fff;
        -fx-padding: 10 0 0 0;
    }